@charset "utf-8";
/*CSS Document */
body{
    margin:0px;
    padding: 0px;
    background-color: gray;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.Active_member{
    max-width: 100%;
    height: 50px;
    font-family: calibari;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(46, 4, 4);
    padding: 5px 100px 5px 100px;
    align-items: center;
    text-align: center;
    color: white;

}

.container{
    max-width: 100%;
    height: 100vh;
    background-color: grey ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 100px 5px 100px;
    
    
}

.box{
    width: 250px;
    height: 350px;
    background-color: rgb(46, 43, 43);
    border-radius:10px ;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}
.box:hover{
    background-color:rgb(19, 16, 16)  ;
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition:all ease 0.3s ;
}

.model{
    height:200px ;
    width: 200px;
    max-height: 100%;
    max-width: 100%; 
    

}

.details{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 250px;

}
.details p{
    font-family: calibari;
    font-weight: bold;
    color: darkslategrey;
    text-align: center;
}

.member{
    color: darkslateblue;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: bebas kari;
    font-size: 25px;
}


/*newst member*/
.Newest_member{
    
    max-width: 100%;
    height: 50px;
    font-family: calibari;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(46, 4, 4);
    padding: 5px 100px 5px 100px;
    align-items: center;
    text-align: center;
    color: white;
    align-items: center;
    float: left;  
   

}

.container2{
    background-color: rgb(218, 165, 165) ;
    

   
}
.container3{
    display: flex;
    flex-direction: column;
    width: 50%;
    float: left;
    

}

.container4{
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
}

.container5{
    width: 100%;
    float: left;
    height: 100vh;
    background-color: grey ;
    margin: 5px 100px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0px 0px 100px 0px;
    overflow: auto;
    
    

}

.containe6{
    width: 100%;
    float: left;
    height: 100vh;
    background-color: grey ;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-items:center;
    overflow: auto;
    padding: 0 100px 0 0 ;
    

}





.scrolling_box{
    width: 150px;
    height: 200px;
    background-color: rgb(43, 28, 28);
    border-radius:10px ;
    box-shadow: 2px 10px 12px rgba(70, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 10px 20px;
    

}

.scrolling_box:hover{
    background-color:rgb(63, 33, 40)  ;
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition:all ease 0.3s ;
}

.containa_col1{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    float: left;
    box-sizing: border-box;
    margin: 0 100px 0 0 ;
    

}



.model2{
    height:80px ;
    width: 100px;
    max-height: 100%;
    max-width: 100%; 
    
    
}

.details2{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 150px;

}
.details2 p{
    font-family: calibari;
    font-weight: bold;
    color: darkseagreen;
    text-align: center;
}

.member2{
    color: dimgrey;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: bebas kari;
    font-size: 25px;
    
}

.Location_member{
    max-width: 100%;
    height: 50px;
    font-family: calibari;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(46, 4, 4);
    padding: 5px 100px 5px 100px;
    align-items: center;
    text-align: center;
    color: white;
    float: left;
}


/* Location member map */
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }



    /*search bar */
    *{
        margin: 0;
        page-break-after: 0;
        -moz-user-select: none;
    }
    .wrapper{
        position: absolute;
        top:50%;
        left: 50%;
        transform:translate(-50%,-50%);
        


    }
    
    .search_box{
        width: 200px;
        height: 50px;
        position: relative;
        padding: 50px 50px 50px 50px;
    }

    .input{
        position: absolute;
        top:20px ;
        right: 20px;
        box-sizing: border-box;
        width: 200px;
        height: 30px;

        border : 3px solid darkred;
        border-radius: 50px;
        padding: 0 20px ;
        outline: none;
        font-size: 18px;
        color: darkred;

        transition: all 0.8s ease;
    }

    ::-webkit-input-placeholder{
        color: rgb(80, 4, 4);
    }

    ::-moz-placeholder{
        color: rgb(80, 4, 4);
    }

    ::-ms-input-placeholder{
        color: rgb(80, 4, 4);
    }

    .btn{
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: darkred;
        border-radius: 50%;
        right: 5px;
        text-align: center;
        line-height: 30px;
        font-size: 20x;
        color:#fff;
        
        transition: all 0.8s ease;
    }

    .input.active{
        width: 200px;
    }


    #popup-model2{
        border: 5px solid #fff;
    }