.selector-for-some-widget {
    box-sizing: content-box;
  }

  .container{
      background-color:  rgb(48, 12, 12);
      overflow: auto;

  }




  .pro_pic{
      width: 300px;
      height: 50%;
      align-items: center;
      margin-top: 25px;
      margin-left: 100px;
      margin-right: 100px;
      margin-bottom: 10px;
      box-shadow: rgb(68, 55, 55) -20px -5px 30px;
      border-top-right-radius: 50%;
      

  }
  .pic_ajest{
      max-width: 100%;
      margin-left: 5px;
      margin-top: 5px;
      box-shadow: rgb(68, 55, 55) 20px 5px 30px;
      border-radius: 10%;
      border-style: solid;
      border-width: 10px;
      border-color: rgb(150, 132, 132);
      border-bottom-right-radius: 100%;
      border-top-right-radius: 100%;

      

  }

  .details{
      padding-top: 10px;
      background-color: #58111a1e #733635 ;
      color: #e9c5b8;
      margin: 20px;
      padding-left: 10px;
      padding-bottom: 10px;
     
      
  }

  .person_name{
      font: outline ;
      font-weight: 100px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 36px;
     font-style: italic;

  }

  .first-col{
      flex-direction: column;
      display: flex;
      max-width: 50%;
      background-color: rgb(48, 12, 12);
     
      float: left;
  }

  .second-col{
      background-color: rgb(48, 12, 12);
      flex-direction: column;
      display: flex;
      max-width: 100%;

      float: left;
  }

  .row-details{
      margin: 10px 10px 10px 10px;
      background-color: rgba(128, 128, 128, 0.041);
      border-radius: 5px;
      border-color: #A51C30;
      
  }




 .btn-collapse{
     background-color: silver;
     width: 100%;
     color: rgb(19, 9, 9);
     font-size: 20px;
     font-style:normal;
     border-top-right-radius: 100%;
     border-bottom-right-radius:  100%;
     border-color: rgb(243, 110, 110);
     border-width: 2px;
     border-bottom-left-radius: 5px;
     border-top-left-radius: 5px;
     border-right-width: 20px;
 }

 
 .btn-collapse2{
    background-color: silver;
    width: 100%;
    color: rgb(19, 9, 9);
    font-size: 20px;
    font-style:normal;
    border-top-left-radius: 100%;
    border-bottom-left-radius:  100%;
    border-color: rgb(243, 110, 110);
    border-width: 2px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left-width: 20px;
}

 .model{
     width: 50px;
     height: 80px;
     
 }
 .model2{
    width: 100px;
    height: 160px;
    
}

 .favoritbooks{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 90%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgb(0, 0, 0); /* Black w/ opacity */
    margin: 50px 200px ;
    align-items: center;
 }

 /* Modal Content */
/* Modal Content */
.favoritbooks-contain {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 10px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.author_category{
    overflow: auto;
   max-width: 100%;
   height: 100px;
   background: rgb(255, 255, 255);
   margin: 5px;
}

.pic_auth{
    width:100px ;
    align-items: center;
    background-color: rgb(37, 26, 26) ;
    
}
.author_pic{
    width: 100px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    float: left;
    background-color: rgb(37, 26, 26) ;

}

.author_details{
    width: 400px;
    margin: 2px;
    padding: 3px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(37, 26, 26);
    float: left;
}
.author_name{
    color: silver;
    

}

.bk_yrButtton{
    
    margin-top: 200px;
    width: 100%;
    border-radius: 100px;
}


.yr_book{
    background-color: #8000204f;
    margin: 20px;
    border-radius: 20px;
    box-shadow: rgb(68, 55, 55) 20px 5px 30px;
    height: 320px;
    
}

.yr_program{
    color: rgb(194, 111, 111);
    margin-left: 150px;
}

.grop_yr{
    color: whitesmoke;
    margin-left: 100px;
    margin-right: 100px;
}



.book_books{
    color: rgb(73, 114, 73);
    font-size: small;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    align-items: center;
}

.grop_book{
    color: white;
}

.friens_close{
    margin-top: 10px;
}


.model3{
    width: 70px;
    height: 100px;
    border-radius: 100%;
   
    margin: 2px;

}