body {
    background: lavender;
  }

  .container {
    
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 1350px;
    height:540px;
    position: relative;
    background: #8E9AAF;
    
  }
  
  .welcome {
    background: white;
    width: 1125px;
    height: 400px;
    position: absolute;
    top: 9%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.1);
    margin-left: 100px;
  }

  .pinkbox {
    position: absolute;
    top: -25px;
    left: 5%;
    background: rgb(247, 149, 181);
    width: 320px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0,0,0,.1);
    transition: all .5s ease-in-out;
    z-index: 2;
  }
  


  .profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}

.picture{
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    margin-top: 10%;

}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 8px solid rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 150px;
    margin-left:  50px;
    
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
  position: absolute;
  top: 250px;
  right: 50px;
  color: #471a1a;
  font-size:48px;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: rgb(12, 8, 8)
}

.rightbox {
    position: absolute;
    width: 50%;
    height: 500px;
    transition: 1s all ease;
  
   
  }
 

  .rightbox {
      left: 500px;
      right: -2%;
     
    
    
  }

  .title {
    font-family: serif;
    color: gray;
    font-size: 1.8em;
    line-height: 1.1em;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 300;
    margin-top: 5%;
    
  }

  .desc {
    margin-top: -8px;
  }
  .account {
    margin-top: 45%;
    font-size: 10px;
  }

  p {
    font-family: sans-serif;
    font-size: .7em;
    letter-spacing: 2px;
    color: gray;
    text-align: center;
  }
  
  span {
    color: pale;
  }
  
  .flower {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 46%;
    left: 29%;
    opacity: .7;
  }

  .smaller {
    width: 90px;
    height: 100px;
    top: 48%;
    left: 38%;
    opacity: .9;
  }
  
  button {
    padding: 12px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    border-radius: 10px;
    margin: auto;
    outline: none;
    display: block;
  }
    button.hover {
      background: pale;
      color: white;
      transition: background-color 1s ease-out;
    }
  
  
  .button {
    margin-top: 2px;
    background: white;
    color: pink;
    border: solid 1px pale;
  }

  .details{
      margin-left: 100px;
      padding-top: 20px;
      padding-left: 20px;
    width: 50%;
    height: 400px;
      
      align-items: center;
      
      box-sizing: border-box;
    
      
      

  }

  .fname,.lname,.email,.address{
      border-radius: 50px;
      margin: 10px;
      width: 300px;
      text-align: center;
      
  }

  